.app-container {
    
    height: calc(100vh - 34px - 50px - 64px);
    padding: 2rem;
}

.container-Form {
    position: absolute;
 	top: 50%; /* posiciona na metade da tela */
    margin-top: -105px; /* e retrocede metade da altura */
    left: 50%; /* posiciona na metade da tela */
    margin-left: -100px; /* e retrocede metade da largura */
    
}