.app-header:before {
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
    position: absolute;
    transform: translateY(-105%);
    background: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}
.app-header {
    height: 100px;
    align-items: center;
    background: rgb(255,239,0);
    background: linear-gradient(212deg, rgba(255,239,0,1) 49%, rgba(255,244,0,1) 63%, rgba(255,255,249,1) 95%);
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    transform: translateY(0);
    font-family: 'Roboto', sans-serif !important;
    
}

.app-header__logo {
    background: transparent;
    height: 25px;
    width: 100px;
}

.formsLoggo{
    margin-top: -20px;
    height: 80px;
    width: 190px;
    margin-left: 5rem;
}
    